@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="ImageUpload"
    asp-action="Create">Upload Image</a>
    <a asp-controller="ImageUpload"
       asp-action="Index">Stored Image(s)</a>
    <a asp-controller="ImageUpload"
    asp-action="ProcessImage">Process Image(s)</a>
</div>
