@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="button">
            <a asp-controller="ImageUpload"
               asp-action="Create">Upload Image</a>
        </button>
        <button class="btn btn-lg btn-primary" type="button">
            <a asp-controller="ImageUpload"
               asp-action="Index">Stored Image(s)</a>
        </button>
        <button class="btn btn-lg btn-primary" type="button">
            <a asp-controller="ImageUpload"
               asp-action="ProcessImage">Process Image(s)</a>
        </button>
    </div>
</div>
