@model CasusWebApps.Models.ViewModels.AddImageRequest

<h1>Upload an image</h1>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ImageFile">Image: </label>
        <input type="file" id="ImageFile" name="ImageFile" required />
    </div>

    <button type="submit" class="btn btn-primary">Add Item</button>
</form>