@model List<ImageHandler>

<h1>All Items</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ImageUrl</td>
                    <td>
                        <a asp-controller="ImageUpload" asp-action="Details" asp-route-itemId="@item.Id">Details</a>
                    </td>
                    <td>
                        <a asp-controller="ImageUpload" asp-action="Delete" asp-route-itemid="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No items available.</p>
}
