@model List<CasusWebApps.Models.ImageHandler>

@{
    ViewData["Title"] = "Process Image";
}

@if (Model != null && Model.Any())
{
    <select id="imageSelector" required>
        @foreach (var image in Model)
        {
            <option value="@image.Id">@image.ImageUrl</option>
        }
    </select>
    <br />
    <canvas id="imageCanvas" width="800" height="600" style="border: 1px solid #000;"></canvas>
    <br />
    <button onclick="saveAnnotation()">Save image</button>
    <input type="text" id="tagName" placeholder="Tag Name">
    <br />
    <img id="image" src="" alt="Image" style="display: none;">
}

<script src="~/js/imageAnnotation.js"></script>
