@model List<CasusWebApps.Models.ImageHandler>

@{
    ViewData["Title"] = "Process Image";
}

@if (Model != null && Model.Any())
{
    <select id="imageSelector" required>
        @foreach (var image in Model)
        {
            <option value="@image.Id" class="img-size-2">@image.ImageUrl</option>
        }
    </select>
    <br />
    <canvas id="imageCanvas" width="640" height="640" style="border: 1px solid #000;"></canvas>
    <br />
    <button onclick="saveAnnotation()">Save image</button>
    <br />
    <select id="itemType">
        <option value="Bak">Bak</option>
        <option value="Bloemenbak">Bloemenbak</option>
        <option value="Buis">Buis</option>
        <option value="DVDhoes">DVD hoes</option>
        <option value="Emmer">Emmer</option>
        <option value="Gieter">Gieter</option>
        <option value="Jerrycan">Jerrycan</option>
        <option value="Kabel">Kabel</option>
        <option value="Klerenhanger">Klerenhanger</option>
        <option value="Kozijn">Kozijn</option>
        <option value="Krat">Krat</option>
        <option value="Lp">LP plaat</option>
        <option value="Tuinstoel">Tuinstoel</option>
        <option value="Vat">Vat</option>
    </select>
    <img id="image" src="" alt="Image" style="display: none;">
}

<script src="~/js/imageAnnotation.js"></script>
